<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="setValue()">Set Value</ion-button>
    <ion-button (click)="getValue()">Get Value</ion-button>
    <ion-button (click)="removeValue()">Remove Value</ion-button>
    <ion-button (click)="clearStorage()">Clear Storage</ion-button>
  </div>

  <div>{{value}}</div>
</ion-content>
