
<ion-content [fullscreen]="true">
  <div>
    <h3>Afficher la liste des Clés et Valeurs :</h3>
    <ion-list>
      <ion-item *ngFor="let item of storageData">
        {{ item.key }}: {{ item.value }}
      </ion-item>
    </ion-list>
  </div>

  <ion-button (click)="storeData()">Stocker valeur</ion-button>
  <ion-button color="secondary" (click)="getData()">Récupérer valeur</ion-button>
  <ion-button color="warning" (click)="removeData()">Supprimer valeur</ion-button>
  <ion-button color="danger" (click)="clearStorage()">Effacer tous les éléments</ion-button>

  <br /><br />

  <ion-button color="light" (click)="getKeys()">Récupérer toutes les clés</ion-button>
  <ion-button color="success" (click)="getCount()">Obtenir le nombre d'éléments stockés</ion-button>
</ion-content>

