<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Storage avec IndexedDB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="storeData()">Stocker une valeur</ion-button>
  <ion-button (click)="getData()">Récupérer une valeur</ion-button>
  <ion-button (click)="removeData()">Supprimer une valeur</ion-button>
  <ion-button (click)="clearStorage()">Effacer tous les éléments</ion-button>
  <ion-button (click)="getKeys()">Récupérer toutes les clés</ion-button>
  <!-- <ion-button (click)="checkKey()">Vérifier si une clé existe</ion-button> -->
  <ion-button (click)="getCount()">Obtenir le nombre total d'éléments stockés</ion-button>
  <!-- <ion-list>
    <ion-item *ngFor="let item of storageData">
      {{ item.key }}: {{ item.value }}
    </ion-item>
  </ion-list> -->
</ion-content>

